<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} | {{itemName}}: {{#if quantity.old includeZero=true}} {{quantity.old}} -> {{/if}} {{quantity.value}}
    </span>
</div>